*
body
{
  background-color: black;
  background-image:url(color2.jpg);
  height: 20vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav
{
  overflow: hidden;
  width: auto;
  background-position: fill;
}
.nav a 
{
  float: right;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
}
.nav a:hover 
{
  border: 1px solid white;
}
.nav a.active 
{
 border: 1px solid white;
}



.photo
{
	position: absolute;
	width: 1000px;
}
h1
{
	color: white;
	font-size: 30px;
	text-align: left; 
	margin-top: 50px;
	margin-left: 10px;
	letter-spacing: 7px;	
}

p
{
	color: white;
	font-size: 15px;
	text-align: left; 
	margin-top: 70px;
	margin-left: 10px;
	letter-spacing: 3px;	
}

img{

  width:600px;
  width: 100%; 
}
img:hover{

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

.main 
{
  margin-top: 330px;
  position: absolute;
  margin-left: 20px;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 20px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  display: none; /* Hide columns by default */

}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  outline-color: white; 
  padding: 12px 16px;
  background-color: black;
  cursor: pointer;
  color:white;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: lightblue;
}

/* Add a dark background color to the active button */
.active {
  background-color: none;
   color: white;
}