*

body {

font-family: "Times New Roman", Georgia, Serif;
background-color: black;
letter-spacing: 2.5px;
color: white; 

}

.nav
{
  overflow: hidden;
  width: auto;
  background-position: fill;
}

.nav a 
{
  float: right;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
}
.nav a:hover 
{
  border: 1px solid white;
}
.nav a.active 
{
 border: 1px solid white;

}

.pic {
    position: absolute;
    left: 0;
    margin-top: 50px;
    width: auto;
    height: auto;
    opacity: 0.7;


}



.welcome
{
  position: all;
  text-decoration: none;
  text-align: center; 
  margin-top: 250px;
  float: center;
}

.about{
  position: all;
  font-size: 14px;
  text-align: left; 
  margin-top: 600px;
  float: right;
  margin-left: 50%;

}

.me{

    position: absolute;
    margin-top: 620px;
    margin-bottom: 100px; 
    width: 50%;
    height: auto;

}



.icons {
  margin: 15px 15px;
  text-align: center;
  margin-left: 15%; 
  margin-top: 100px; 
}

.fa { 
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border:2px solid #ddd; /* add border to the buttons */
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    line-height: 2em;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none; 



}

/* facebook button class*/
.fa-facebook{
    background: #4060A5;
}

.fa-facebook:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

.fa-linkedin{
    background: #007bb5;
}

.fa-linkedin:hover{
    color: #007bb5;
    background: #fff;
    border-color: #007bb5; /* change the border color on mouse hover */
}

.fa-github{
    background: black;
}

.fa-github:hover{
    color: black;
    background: #fff;
    border-color: black; /* change the border color on mouse hover */
}

.fa-file-text{
    background:#BC8F8F; 
}

.fa-file-text:hover{
    color: black;
    background: #fff;
    border-color: black; /* change the border color on mouse hover */
}
