
*
body
{
  background-color: black;
  background-image:url(color2.jpg);
  height: 20vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Nav bar */
.nav
{
  overflow: hidden;
  width: auto;
  background-position: fill;
}
.nav a 
{
  float: right;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
}
.nav a:hover 
{
  border: 1px solid white;
}
.nav a.active 
{
 border: 1px solid white;
}

/* Heading paragraph */

.art
{
  position: absolute;
  width: 900px;
}
.art h1
{
  color: white;
  font-size: 30px;
  text-align: left; 
  margin-top: 50px;
  margin-left: 10px;
  letter-spacing: 5px;  
}

.art p
{
  color: white;
  font-size: 15px;
  text-align: left; 
  margin-top: 70px;
  margin-left: 10px;
  letter-spacing: 2px;  
}

/* Gallery */

.row {
  margin: 300px -30px;
  position: absolute;

}

.row h2{
color: white; 
}

.row p
{
  color: white;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 20 px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  margin-left: 30px;
  width: 30%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}


 img{
  width: 300px;
  width: 100%;
}
 img:hover{

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}